@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] :: @AppSettings.Value.SiteTitle : Admin</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

            <script type="text/javascript">
                var appInsights=window.appInsights||function(config){
                function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
                }({
                    instrumentationKey: "@AppSettings.Value.InstrumentationKey"
                });

                window.appInsights=appInsights;
                appInsights.trackPageView();
            </script>
        </environment>
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x logo">TPL</i></span> @AppSettings.Value.SiteTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @await Html.PartialAsync("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://twitter.com/@AppSettings.Value.TwitterUsername" target="_blank" class="fa fa-twitter fa-2x"></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a asp-route-area="Admin" asp-controller="Rounds" asp-action="Index">Rounds <span class="sr-only">(current)</span></a></li>
                    <li><a asp-route-area="Admin" asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                    <li><a asp-route-area="Admin" asp-controller="Golfers" asp-action="Index">Golfers</a></li>
                    <li><a asp-route-area="Admin" asp-controller="Courses" asp-action="Index">Courses</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a asp-route-area="Admin" asp-controller="Golfers" asp-action="Notify">Notify</a></li>
                </ul>
            </div>
            <div class="col-md-offset-2 main">
                <h2 class="page-header">@ViewData["Title"]</h2>
                @RenderBody()
            </div>

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
